{% extends 'base.html.twig' %}

{% block container %}
    <h2>Sidus/AdminBundle Demo</h2>
    <p>Checkout the documentation on Github:
        <a href="https://github.com/VincentChalnot/SidusAdminBundle">
            https://github.com/VincentChalnot/SidusAdminBundle
        </a>
    </p>
{% endblock %}
