<div class="btn-group" role="group">
    <a href="{{ entity_path(result, 'read') }}" class="btn btn-primary" title="View">
        <i class="fa fa-eye"></i>
    </a>
    <a href="{{ entity_path(result, 'edit') }}" class="btn btn-info" title="Edit">
        <i class="fa fa-edit"></i>
    </a>
    <a href="{{ entity_path(result, 'delete') }}" class="btn btn-danger" title="Delete">
        <i class="fa fa-trash"></i>
    </a>
</div>
