<div class="buttons has-addons datagrid-actions">
    <a href="{{ entity_path(result, 'read') }}" class="button is-small is-link" title="View">
        <span class="icon"><i class="fas fa-eye"></i></span>
    </a>
    <a href="{{ entity_path(result, 'edit') }}" class="button is-small is-info" title="Edit">
        <span class="icon"><i class="fas fa-edit"></i></span>
    </a>
    <a href="{{ entity_path(result, 'delete') }}" class="button is-small is-danger" title="Delete">
        <span class="icon"><i class="fas fa-trash"></i></span>
    </a>
</div>
